@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";


@theme {
  --font-fredoka: 'Fredoka', 'sans-serif';
  --font-inter:'Inter', 'sans-serif';
}

*{
  box-sizing: border-box;
}

body{
  font-family: var(--font-inter);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fireGlow {
  0% {
    filter: blur(30px) brightness(1.2);
    transform: scale(1);
  }
  50% {
    filter: blur(40px) brightness(1.6);
    transform: scale(1.05);
  }
  100% {
    filter: blur(30px) brightness(1.2);
    transform: scale(1);
  }
}

.animate-fireGlow {
  animation: fireGlow 1.2s ease-in-out infinite;
}


